
/*** Core page styles to set the primary colours and styles to be inherited by everything else ***/

/* Core Styling */
html * {
        font-family:sans-serif;
}
body{
        margin:40px auto;
        max-width:650px;
        line-height:1.6;
        font-size:18px;
        color:#65f85a;
        background-color:#121619;
        padding:0 10px;
}
/********************************/
/********************************/

/*** Post styling. This section is for defining markup classes to make it easier to write prettier posts. ***/

img {
    max-width: 100%;
    max-height: 100%;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

code {
        background-color:#293137;
        border-radius:16px;
        padding-left:30px;
        padding-right:30px;
        line-height:2em;

        padding-top:1px;
        padding-bottom:1px;
        color:#65f85a;
		font-family:monospace;
}

pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
}

blockquote {
        border-left:1px solid #65f85a;
        display:block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 30px;
        padding-left: 10px;
        margin-right: 40px;
        font-style: italic;
        color:#46ab3e;
}

hr {
        color:#65f85a;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
}

#endline { /* Special kind of <hr> for spacing out footnotes from the rest of a post */
        color:#65f85a;               
        margin-left: auto;              
        margin-right: auto;
        max-width: 300px;
        margin-top: 80px;
}

a {
        color:#b8f1b4
}

h1{
        line-height:1.2
}

h2,h3{
        padding-top:24px;
        line-height:1.2
}

/* Style for inline dates. These are configured via a separate include file in /config/content_header.html. See notes on Arise page creation for more details. */
.date { 
        padding-bottom:0;
        margin-bottom:0;
        font-size:14px;
}

@media screen and (max-width: 900px) {
.date { 
        text-align:right;
}
}
@media screen and (min-width: 901px) {
.date { 
        float:right;
        margin-left:30px;
}
}

/********************************/
/********************************/


/*** Modular component styles. Includes styling for the headers, navigation controls, and footer. ***/

/* Site logo. Styled to responsively move to either left or be centred, depending if the page is being viewed on desktop or mobile respectively. */
.logo {           
        margin-bottom:20px;
        text-align:center;
}

/* Navbar styling. */
.topbar {
        padding-right:10px;
        border-top:1px solid #65f85a;
        border-bottom:1px solid #65f85a;
        margin-bottom:20px;
        text-align:center;
}
.topbar a {
color:#65f85a;
text-decoration:none;
}

/* Site footer styling */
.footer {
        border-top:2px solid #65f85a;
        font-size:12px;
        margin-top:120px;
        text-align:center;
}

/********************************/
/********************************/


/*** Other misc garbage ***/

/* Arise Index Style */
.arise-toc-td {
  border-width: 1px;
  border-color: #65f85a;
  border-top-style: solid;
  text-align: center;
  padding-right: 10px;
  padding-bottom: 5px
}
.arise-toc-th {
  padding-bottom: 20px;
  border-bottom: 1px;
  border-bottom-style: solid;
}
